FollowedLog {
    margin: 0 1;
    width: 1fr;
    height: 98%;
    background: $panel-darken-1;
    border: double $primary-background-lighten-1;
}

FollowedLog RichLog {
    background: $panel-darken-1;
}

FollowedLog .title {
    text-style: italic;
    color: $primary-lighten-3;
}
